.container {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background-color: #fbfdfc;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.service-card {
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    text-decoration: none; 
    color: #333; /* Font color */
}
.service-card:hover {
    transform: translateY(-5px);
}
.service-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    
}
h1 {
    color: #333;
}